/clean
/source
/node_modules
/app/node_modules
/app/public
/app/vendor
/app/backend/.env
/app/frontend/node_modules
/app/frontend/dist
/finalProject.pdf
/Qingzhe_Song_-_Phase_1_-_Proposal_and_ER_Diagram.pdf
/example
